<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student|Form  </title>
</head>
<body>
<h1>Add Student Details</h1>
<form method="post" action="/" enctype="multipart/form-data">
    <label> Enter Student Name :</label><br>
    <input type="text" name="student_name" required placeholder="Enter Student Name"><br><br>
    <label>Enter Student DOB : </label> <br>
    <input type="date" name="student_dob" required placeholder="Enter Date Of Birth"><br><br>
    <label> Enter Student DOJ :</label> <br>
    <input type="date" name="student_doj" required placeholder="Enter join Date"><br><br>
    <input type="submit"><br><br>
</form>
<a href="users">View</a>
</body>
</html>